---
layout: menu.njk
title: Menu - Misconduct Comedy
metaTitle: Misconduct Comedy Menu
metaDescription: The menu for Misconduct Comedy, Philadelphias best indie comedy club.
permalink: /menu/index.html
---

<img class="cs-background" src="/images/waves 2.svg" alt="Background Waves" />

<!-- Replace the SVG below with your actual logo -->
<?xml version="1.0" encoding="UTF-8"?>
<img class="cs-logo" src="/images/Misconduct Comedy Logo with Border - 500px.png" width="500px">
<div class="cs-button-wrapper">
    <a class="cs-button" href="https://misconducttavern.com/rittenhouse/wp-content/uploads/sites/7/2023/04/Locust-Jan-23-Street-w-Happy-Hour-48.pdf" target="_blank" rel="noopener noreferrer">Food Menu</a>
    <a class="cs-button" href="https://misconducttavern.com/rittenhouse/wp-content/uploads/sites/7/2020/07/Reopen_Locust_St-85-1.pdf" target="_blank" rel="noopener noreferrer">Drink Menu</a>
</div>
<div class="cs-socials-wrapper">
    <p class="cs-text">Tag us on Instagram!</p>
    <a class="cs-insta-button" href="https://www.instagram.com/misconductcomedy/" target="_blank" rel="noopener noreferrer">Our Instagram</a>
</div>
