---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all %}
  {%- if '/admin/' not in page.url %}
  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
    <lastmod>{{ page.date | sitemapDate }}</lastmod>
    {%- if page.url == '/' or page.url == '/index.html' %}
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
    {%- elif '/shows/' in page.url %}
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
    {%- else %}
    <changefreq>monthly</changefreq>
    <priority>0.5</priority>
    {%- endif %}
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
